doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initia-scale=1.0')
    title Admin | WhatSong
    link(rel='icon' type='image/png' href='/favicon.ico')
    link(rel='apple-touch-icon' href='/favicon.ico')
    link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.5.0.min.js' integrity='sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=' crossorigin='anonymous')
    script(src=" https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.3/jsmediatags.min.js")
  body
    #outputDiv

    p#uploadMsg #{uploadMsg}
    form(id="songUploadForm" action="/submit/song" method="post" enctype="multipart/form-data")
      h2 Ajouter une chanson dans la base de données
      br
      input(id="songInput" type="file" name="song" value="Choose a file" autofocus)
      input(id="submitButton" type="submit" name="submit" value="Upload" disabled)
    div(class="row")
      div(class="column1")
        h2 Playlists en base de données:
          br
          div.search 
            input.typing-input#search-playlist-input(type="text" name="searchByKW")
            input.img-icon#search-playlist(type="image" alt="rechercher" src="./images/search.jpg")
          table
            thead
              tr
                th Nom de la playlist
                th(colspan="2") 
                  input#new-playlist(type="submit" value="Nouvelle playlist")
            tbody
              tr
                td.playlist-name Playlist 1
                td.playlist-action 
                  input.img-icon(type="image" alt="supprimer" src="./images/delete.jpg")
                td.playlist-action  
                  input.img-icon(type="image" alt="modifier" src="./images/edit.png") 
        
      div(class="column2")    
        h2 Créer/Modifier une playlist:
        input.img-icon(type="image" alt="ajouter" src="./images/add.png")
        input.img-icon(type="image" alt="enregistrer" src="./images/save.png")
        input.img-icon(type="image" alt="supprimer" src="./images/delete.jpg")
        input.img-icon(type="image" alt="annuler" src="./images/back.jpg")
        form(action="")
          label Nom de la playlist:
          br
          input.typing-input#playlist-name-input(type="text" name="searchByKW")
          table
            thead
              tr
                th Artiste
                th Titre
                th 
            tbody
              tr
                td Artiste 1
                td Titre 1
                td.playlist-action 
                  input.img-icon(type="image" alt="supprimer" src="./images/delete.jpg")
          
    h2 Chansons en base de données:
    br
    label Recherche par mots-clés:
    br
    div.search 
      input.typing-input#search-song-input(type="text" name="searchByKW")
      input.img-icon#search-song(type="image" alt="rechercher" src="./images/search.jpg")
    table
      thead
        tr
          th Artiste
          th Titre
          th 
      tbody
        tr
          td Artiste 1
          td Titre 1
          td.songdb-action 
            input.img-icon(type="image" alt="supprimer" src="./images/delete.jpg")


    script.
      var file = document.getElementById('songInput');
      $('#songUploadForm :submit').prop('disabled', true)
      $('#songInput').val('')

      $('#submitButton').click(()=>{
        $('#uploadMsg').text('Submitting ...')
        $('#songUploadForm :submit').prop('disabled', true)
      })

      file.addEventListener("change", function(e){
        enableForm(true);

        $('#uploadMsg').text('Submitting ...')
        var f = event.target.files[0];
        jsmediatags.read(f, {
          onSuccess: function(tag) {
            enableForm(true)
            if (!('artist' in tag.tags) || !('title' in tag.tags)){
              $('#uploadMsg').text('Mising title/artist in mp3 metadata')
              $('#songInput').val('')
              $('#songUploadForm :submit').prop('disabled', true)
            }
            else{
              $('#uploadMsg').text('Ready for upload');
              $('#songUploadForm :submit').prop('disabled', false)
            }
          },
          onError: function(error) {
            enableForm(true)
            $('#uploadMsg').text('Invalid file')
            $('#songInput').val('')
            $('#songUploadForm :submit').prop('disabled', true)
          }
         })
        }, false)

      function enableForm(b){
        var songInput = $('#songInput')
        var submitButton = $('#submitButton')

        var arr = [songInput, submitButton]

        for (e of arr) {
          if (!b)
            e.prop('disabled', true);
          else
            e.prop('disabled', false);
        }
       }

