doctype html
head
    meta(charset='utf8')
    title test audio html5 player
    script(src='https://code.jquery.com/jquery-3.5.0.min.js' integrity='sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=' crossorigin='anonymous')
body
    form(action="/submitPseudo" method="post")
        label Entrez votre pseudo : 
        input(type="text" name="pseudo")
        input(type="submit" value="ok")
