doctype(html)
html
  head
    title Page inexistante
    link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
  body
    ///extends layout

    ///.
      block content
        h1= message
        h2= error.status
        pre #{error.stack}
    section
      p C'est fâcheux m'voyez, cette ressource n'est pas dispo ><'

      p 
        a(href="/") Revenez par ici

