doctype html
head
  meta(charset='utf8')
  title test audio html5 player
  script(src='https://code.jquery.com/jquery-3.5.0.min.js' integrity='sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')

audio#audioPlayer
  |           Your browser does not support the audio tag

input#answer

button(onclick="submitAnswer()") go

script.
  var $player = $('#audioPlayer');
  var player = $player[0];

  var socket = io("localhost:3000");

  socket.on('answerResponse', (result) => {
    console.log(`server answer eval: ${result}`);
  });

  socket.on('startSong', (song) => {
    console.log(`server order play song: ${song}`);
    player.src = 'music/'+song;
    player.load();
    player.play();
  });

  socket.on('stopSong', ()=>{
    console.log('server order stop song');
    player.pause();
  });

  $player.on('canplaythrough', () => {
    // notify server
  });

  function submitAnswer() {
    var answer = $('#answer').val();

    console.log(`submit answer: ${answer}`);

    socket.emit('submitAnswer', {name: 'roger', answer: answer});
  }

  function changeTrack() {
    player.src = '../music/m1.mp3';
    player.load();
  }

  function playTrack() {
    player.play();
    setTimeout(changeTrack, 3000);
  }

  changeTrack();


  /*
  $player.on('canplaythrough', ()=>{
    player.play();
  })*/
