#ctnr-app-playlist-mngr
  link(rel='stylesheet' type='text/css' href='stylesheets/playlist-mngr.css')
  script(src='javascripts/playlist-mngr.js')
  #fragments
    include ./fragments.pug
  #view
     

  
